@model IEnumerable<FinCtrl.Domain.Entities.Financas>

@{
    ViewBag.Title = "Minhas Financas";    
}

@foreach (var FinYrs in Model.Select(x => x.Data.Year).Distinct())
{
    <div class="alert alert-secondary">
        <h4 class="font-weight-bold">
            @FinYrs
        </h4>       
    </div>
    <div class="row justify-content-around">
        @foreach (var FinData in Model.Where(y => y.Data.Year == FinYrs).Distinct())
        {
            <a href="#" class="col-sm-3 link-details hvr-grow-shadow" data-value="@FinData.Id">
                <div>
                    <small>@FinData.Data.ToShortDateString()</small>
                    @if (FinData.TipoId == 1)
                    {
                        <h3 class="text-danger text-center">-@String.Format("{0:C}", FinData.Valor)</h3>
                    }
                    else
                    {
                        <h3 class="text-success text-center">+@String.Format("{0:C}", FinData.Valor)</h3>
                    }
                    <p>@FinData.Nome</p>
                </div>                
            </a>
        }
    </div>
}

<!-- Modal -->
<div class="modal fade" id="financesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalhes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="conteudoModal">
            </div>
        </div>
    </div>
</div>